




.nav1 {
  width : 600px; 
  background : #2d2f31; 
  margin : 40px auto; 
  border-radius: 40px;
}
.span {
 
  padding : 30px;
  background : #2d2f31; 
  color : white;
  font-size : 1.2em;
  font-variant : small-caps;
  cursor : pointer;
  display: block;
  border-radius: 40px;
}
.slide li a {
  color: white;
  text-decoration: none;
  font-size: 25px;
}
span::after {
 left: 70%;
  float: right;
  /* right: 70%; */
  content: "";
}

.slide {
  clear:both;
  width:100%;
  height:0px;
  overflow: hidden;
  /* text-align: center; */
  transition: height .4s ease;
 color:'white';
 text-Decoration:"none";
}

.slide li {padding : 8px;list-style: none;}

#touch {position: absolute; opacity: 0; height: 0px;}    

#touch:checked + .slide {height: 300px;} 